<h1 class="text-center mt-5">Welcome To  MessageMe -a Complete Chat App</h1>
<div class="p-5 text-center">
    <%= image_tag("coffee(1).svg", height: 70)%>
</div>
<h3 class="h3 text-center">Say Something</h3>
<%= render "layouts/chatarea" %>