<% flash.each do |message_type, message_content| %>
  <div class="alert alert-<%= message_type %> alert-dismissible fade show text-center" role="alert">
    <strong><%= message_content %></strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>